version: '3.8'

services:
  web:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    volumes:
      - ../conbinacion\ de\ proyecto:/app/conbinacion\ de\ proyecto
      - ../formularios:/app/formularios
      - ../diagramas:/app/diagramas
      - ../docmentacion:/app/docmentacion
      - ../server:/app/server
    working_dir: /app/server
    command: npm start
